@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: url("../img/bg.jpg") 50% 50%/cover no-repeat fixed;
  font-family: Calibri;
  font-size: 18px;
  font-weight: 700;
}

.glow-button {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 5px;
  margin: -14px 0px 9px 30px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgba(255, 219, 119, 0.6039215686) inset, 0 0 0 0 rgba(255, 219, 119, 0.6039215686);
  font-family: Calibri;
  font-weight: 700;
  color: rgb(0, 0, 0);
  transition: 0.15s ease-in-out;
  border: 2px solid black;
}
.glow-button:active {
  background-color: #444444;
}

.glow-button:hover {
  box-shadow: 0 0 10px 0 rgba(255, 219, 119, 0.6039215686) inset, 0 0 10px 4px rgba(255, 219, 119, 0.6039215686);
  text-shadow: 0px 0px 3px black, 0px 0px 3px black;
  color: rgba(255, 219, 119, 0.9843137255);
  border: 2px solid #ffdb77;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 25px auto;
  background-color: rgba(255, 219, 119, 0.5411764706);
  border: 2px solid rgb(36, 36, 36);
  border-radius: 15px;
}

* {
  transition: 0.3s;
}

.logo {
  width: 70px;
  height: 70px;
  background: url("../img/ava-1.png") 0 0/cover no-repeat;
  border-radius: 10px;
}

.navigation {
  width: 30%;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.navigation__link {
  font-family: Calibri;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.4117647059);
  border-radius: 15px;
  box-shadow: 0px 0px 4px black;
}
.navigation__link:hover {
  background-color: rgba(49, 49, 49, 0.336);
  color: white;
  transition: 0.3s;
}

.header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 0px 4px black;
}
.header__text, footer__text {
  font-size: 30px;
  font-family: Calibri;
  font-weight: 700;
  color: #333333;
}

.main {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100vh;
}

.container-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

.section-partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 20%;
  padding: 47px;
  gap: 5%;
}
.section-partners__partner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 15px;
}
.section-partners__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75%;
  padding: 15px;
  box-shadow: 0px 0px 4px black;
}
.section-partners__card:hover {
  background-color: rgba(0, 0, 0, 0.123);
  color: white;
  transition: 0.3s;
}
.section-partners__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  box-shadow: 0px 0px 4px black;
}
.section-partners__image:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}
.section-partners__btn {
  width: 50%;
  height: 10%;
  background: none;
  font-family: Calibri;
  font-weight: 700;
  font-size: 18px;
  margin-left: 50%;
  box-shadow: 0px 0px 4px black;
}
.section-partners__btn:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}

.section-products {
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.section-products__card {
  display: flex;
  width: 20%;
  height: 80%;
  padding: 10px;
  gap: 5%;
  box-shadow: 0px 0px 6px black;
}
.section-products__card:hover {
  background-color: rgba(0, 0, 0, 0.123);
  color: white;
  transition: 0.3s;
}
.section-products__desc {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 9%;
}
.section-products__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  box-shadow: 0px 0px 6px black;
}
.section-products__title:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}
.section-products__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px black;
}
.section-products__text:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}
.section-products__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px black;
}
.section-products__image:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}

.section-order {
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.section-order__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 100%;
  padding: 10px;
  box-shadow: 0px 0px 6px black;
}
.section-order__card:hover {
  background-color: rgba(0, 0, 0, 0.123);
  color: white;
  transition: 0.3s;
}
.section-order__card:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-order__card:last-child:hover {
  background-color: rgba(0, 0, 0, 0.336);
}
.section-order__text {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 6px black;
}
.section-order__text:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}
.section-order__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background: none;
  font-weight: 700;
  font-size: 18px;
  font-family: Calibri;
  box-shadow: 0px 0px 6px black;
}
.section-order__btn:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}

.section-services {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 33.34%;
  padding: 40px 40px 0px 40px;
}
.section-services__items {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-services__item {
  display: flex;
  width: 20%;
  height: 80%;
  justify-content: center;
  align-items: center;
  gap: 10%;
  box-shadow: 0px 0px 6px black;
}
.section-services__item:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}
.section-services__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.section-services__scroll-item {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px black;
  box-shadow: 0px 0px 6px black;
}
.section-services__scroll-item:hover {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  transition: 0.3s;
}
.section-services__arrow {
  font-size: 40px;
  padding-bottom: 5px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.575);
}
.section-services__arrow:hover {
  color: white;
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */er;
  padding-top: 5px;
  top: 120px;
  left: 150px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-19:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-20 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 120px;
  left: 210px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-20:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-21 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 150px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-21:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-22 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 150px;
  left: 60px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-22:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-23 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 150px;
  left: 120px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-23:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-24 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 150px;
  left: 180px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-24:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-25 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 180px;
  left: 30px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-25:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-26 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 180px;
  left: 90px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-26:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-27 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 180px;
  left: 150px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-27:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-28 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 180px;
  left: 210px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-28:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-29 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 210px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-29:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-30 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 210px;
  left: 60px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-30:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-31 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 210px;
  left: 120px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-31:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.item-32 {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top: 210px;
  left: 180px;
  width: 30px;
  height: 30px;
  background-color: #ffb759;
  border: 2px solid rgb(27, 27, 27);
}
.item-32:hover {
  color: #F137A6;
  background-color: #000000;
  border-color: #F137A6;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
}

.img-1:hover {
  z-index: 10;
}

.img-2:hover {
  z-index: 10;
}

.img-3:hover {
  z-index: 10;
}

.img-4:hover {
  z-index: 10;
}

.img-5:hover {
  z-index: 10;
}

.cont-for-img-1 {
  display: block;
  position: relative;
  top: 0;
  left: calc(50% - 400px);
  margin-bottom: 70px;
  width: 800px;
  min-height: 600px;
  background-color: rgba(167, 255, 221, 0.4862745098);
  border: 4px solid black;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.container-2 {
  display: inline-block;
  position: relative;
  top: 0;
  left: calc(50% - 465px);
  margin-bottom: 70px;
  width: 930px;
  min-height: 610px;
  background-color: rgba(167, 255, 221, 0.4862745098);
  border: 4px solid black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}
.container-2__card-1 {
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
  width: 600px;
  min-height: 200px;
  background-color: #ff4141;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
.container-2__card-1:hover {
  z-index: 1;
}
.container-2__card-2 {
  position: absolute;
  top: 90px;
  left: 90px;
  overflow: hidden;
  width: 600px;
  min-height: 200px;
  background-color: #84ff74;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
.container-2__card-2:hover {
  z-index: 1;
}
.container-2__card-3 {
  position: absolute;
  top: 160px;
  left: 160px;
  overflow: hidden;
  width: 600px;
  min-height: 200px;
  background-color: #74a0ff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
.container-2__card-3:hover {
  z-index: 1;
}
.container-2__card-4 {
  position: absolute;
  top: 230px;
  left: 230px;
  overflow: hidden;
  width: 600px;
  min-height: 200px;
  background-color: #e874ff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
.container-2__card-4:hover {
  z-index: 1;
}
.container-2__card-5 {
  position: absolute;
  top: 300px;
  left: 300px;
  overflow: hidden;
  width: 600px;
  min-height: 200px;
  background-color: #ffdf74;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
.container-2__card-5:hover {
  z-index: 1;
}

.container-3 {
  position: absolute;
  top: 1900px;
  left: calc(50% - 300px);
  display: inline-block;
  width: 600px;
  height: 240px;
  font-size: 24px;
  padding: 15px;
  background-color: rgba(167, 255, 221, 0.4862745098);
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}
.container-3__text-1 {
  text-indent: 10px;
  position: absolute;
  height: 30px;
  top: 10px;
  left: 10px;
}
.container-3__text-2 {
  text-indent: 10px;
  position: absolute;
  height: 30px;
  top: 120px;
  left: 10px;
}
.container-3__image {
  position: absolute;
  left: 370px;
  width: 200px;
  z-index: 1;
  border: 4px solid black;
  border-radius: 50%;
}
.container-3__image:hover {
  top: -135px;
  left: 19px;
  z-index: -1;
}

.container-4 {
  position: absolute;
  top: 1980px;
  left: calc(33% - 300px);
  display: inline-block;
  width: 600px;
  height: 500px;
  font-size: 18px;
  padding: 15px;
  margin-top: 200px;
  background-color: rgba(167, 255, 221, 0.4862745098);
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}
.container-4__name {
  display: inline-block;
  width: 200px;
  padding: 20px 10px;
  background-color: #b9ffdc;
  border-radius: 0px 50px 0px 50px;
  overflow: hidden;
}
.container-4__description {
  position: absolute;
  overflow: auto;
  top: 20px;
  right: 35px;
  max-height: 450px;
  display: inline-block;
  width: 300px;
}

.container-5 {
  position: absolute;
  top: 1980px;
  left: calc(67% - 300px);
  display: inline-block;
  width: 600px;
  height: 700px;
  font-size: 18px;
  padding: 15px;
  margin-top: 200px;
  background-color: rgba(167, 255, 221, 0.4862745098);
  border: 4px solid black;
  border-radius: 10px;
  z-index: -1;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}
.container-5__item-1 {
  position: absolute;
  top: 50px;
  left: -60px;
}
.container-5__item-2 {
  position: absolute;
  top: 110px;
  left: -25px;
}
.container-5__item-3 {
  position: relative;
  top: -15px;
  left: calc(50% - 25px);
}
.container-5__item-4 {
  position: relative;
  top: 577px;
  left: 527px;
}
.container-5__item-5 {
  position: absolute;
  top: 643px;
  left: 0;
}
.container-5__item-6 {
  position: inherit;
  top: 0;
  right: 0;
}
.container-5__item-7 {
  position: relative;
  top: 35%;
  left: 45.55%;
}
.container-5__item-8 {
  position: inherit;
  top: calc(50% - 25px);
  right: -25px;
}
.container-5__item-9 {
  position: inherit;
  top: calc(50% + 50px);
  left: calc(50% - 25px);
}
.container-5__item-10 {
  position: relative;
  top: 20%;
  left: 45.55%;
}
.container-5 .item {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 54, 54, 0.6352941176);
  border: 2px solid black;
  text-align: center;
  padding-top: 13px;
  outline: 3px solid red;
}
.container-5 .item:nth-child(4), .container-5 .item:nth-child(6), .container-5 .item:nth-child(5), .container-5 .item:nth-child(7), .container-5 .item:nth-child(9), .container-5 .item:nth-child(10) {
  outline: none;
}

.container-6 {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 18px;
  padding: 15px;
  padding-top: 60px;
  margin-top: 200px;
  background-color: rgba(167, 255, 221, 0.4862745098);
  border: 4px solid black;
  border-radius: 100px 0px 0px 0px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}
.container-6__content {
  font-size: 24px;
  text-transform: uppercase;
}

.container-7 {
  position: fixed;
  top: 210px;
  right: 0;
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 18px;
  padding: 15px;
  padding-top: 60px;
  margin-top: 200px;
  background-color: rgba(167, 255, 221, 0.4862745098);
  border: 4px solid black;
  border-radius: 0px 0px 0px 100px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}
.container-7__content {
  font-size: 24px;
  text-transform: uppercase;
}

#background-video {
  position: fixed;
  top: -110px;
  left: -90px;
  width: auto;
  height: 120%;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */