@import "nullstyle.scss";
body {
    background: url("../img/bg.jpg") 50% 50%/cover no-repeat fixed;
    font-family: Calibri;
    font-size: 18px;
    overflow: hidden;
}
  .glow-button {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    margin: 9px 0px 9px 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #ffdb779a inset, 0 0 0 0 #ffdb779a;
    font-family: Calibri;
    font-weight: 700;
    color: rgb(0, 0, 0);
    transition: 0.15s ease-in-out;
    border: 2px solid black;
    &:active {
      background-color: #444444;
    }
  }
  .glow-button:hover {
    box-shadow: 0 0 10px 0 #ffdb779a inset, 0 0 10px 4px #ffdb779a;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black;
    color: #ffdb77fb;
    border: 2px solid #ffdb77;
  }
.header-h1 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 17px;
    font-size: 30px;
    font-family: Calibri;
    font-weight: 700;
    color: #333333;
    border-bottom: 2px solid rgb(36, 36, 36);
    border-left: 2px solid rgb(36, 36, 36);
    border-right: 2px solid rgb(36, 36, 36);
    border-radius: 15px;
    box-shadow: 9px 9px 8px rgb(0, 0, 0);
}
.conteiner {
  width: 900px;
  min-height: 95%;
  margin: 25px auto;
  padding: 15px;
  background-color: #ffdb778a;
  border: 2px solid rgb(36, 36, 36);
  border-radius: 15px;
}

.main {
  &__text {
      font-size: 19px;
      font-weight: 700;
      text-indent: 20px;
      margin-bottom: 40px;
      p {
          text-indent: 20px;
      }
  }
}

.login {
  &__div{
      display: inline-block;
      margin: 10px 10px 20px 30px;
      text-align: center;
  }
  &__input {
      width: 190px;
      height: 40px;
      border: 2px solid black;
      border-radius: 15px;
      text-align: center;
      font-size: 17px;
      font-family: Calibri;
      font-weight: 700;
      background-color: #15b5ff94;
      color: black;
      box-shadow: 5px 5px 5px black;
      &:hover {
          background-color: #15b5ff;
      }
  }
  &__btn {
      width: 190px;
      height: 40px;
      border: 2px solid black;
      border-radius: 15px;
      text-align: center;
      font-size: 17px;
      font-family: Calibri;
      font-weight: 700;
      background-color: #15b5ff94;
      color: black;
      box-shadow: 5px 5px 5px black;
      &:hover {
          background-color: #15b5ff;
      }
  }
  &__avatar {
      display: inline-block;
      font-size: 19px;
      font-family: Calibri;
      font-weight: 700;
  }
  &__image {
      display: inline-block;
      width: 200px;
      height: 200px;
      &:active:hover {
          margin-top: 20px;
          opacity: 50%;
      }
  }
}

.clear {
  background-color: #ffc81594;
  overflow: hidden;
  &:hover {
      background-color: #ffc815;
  }
  &:active {
      background-color: #a8a8a8;
  }
  &:focus {
      background-color: #a8a8a8;
  }
}

.register {
  background-color: #15ff7694;
  overflow: hidden;
  &:hover {
      background-color: #15ff76;
  }
  &:active {
      background-color: #a8a8a8;
  }
  &:focus {
      background-color: #a8a8a8;
  }
}

.agreement {
  margin: 0px 0px 0px 10px;
}

.complaint {
  background-color: #ff153494;
  overflow: hidden;
  &:hover {
      background-color: #ff1534;
  }
  &:active {
      background-color: #a8a8a8;
  }
  &:focus {
      background-color: #a8a8a8;
  }
}